body {
  background-color: #eaeaea;
}

.nav {
  text-align: center !important;
  height: 60px;
  background-color: rgb(48, 48, 48);
  color: #eaeaea !important;
}

.title {
  font-size: 30px;
  padding-top: 10px;
  background-color: rgb(48, 48, 48);
  color: #eaeaea !important;
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.highlink {
  font-family: 黑体 Consolas;
  color: #000000;
}

.wjl-cards {
  padding-bottom: 20px;
}

.content {
  text-align: left;
}

.wjl-card {
}

.category {
  font-size: 15px;
}

.footer {
  text-align: center !important;
  height: 50px;
  background-color: rgb(48, 48, 48);
  color: #eaeaea !important;
}

.copyright {
  padding-top: 15px;
}
